*.log
*.pot

# Python files
*.pyc

# Local settings
netcentric/localsettings.py

# Migration files

accounts/migrations/
webtagger/migrations/

# Some Files
.sass-cache/
wdwebsite.sublime-project
wdwebsite.sublime-workspace