{% extends 'webtagger/base.html' %}
{% load url from future %}
{% block css %}
<style type="text/css">
	.highlight-container {
		display: inline;
	}
</style>
{% endblock %}

{% block tab %}
<ul class="nav nav-tabs">
	<li><a href="/webtagger/list_of_sentences">Article Tagging Module</a></li>
	<li class="active"><a href="#">Validation Module</a></li>
	<li><a href="/webtagger/upload_xml_file">Admin Settings</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="span11">

	<h2>Validate Word</h2>

	<div class="alert alert-info">
		<p style="font-size: 24px; text-align:center;">baka</p>
	</div>

	<div class="row-fluid">
		<div class="span6">
			<div class="btn-group">
				<button class="btn">Show Concordancer</button>
				<button class="btn">Hide Concordancer</button>
			</div>
			
		</div>
		<div class="span6">
					<div class="progress progress-info progress-striped">
				    	<div class="bar" style="width: 50%">100 / 200 words</div>
				    </div>
		</div>
	</div>	

	<br>
	<h4><i class="icon-list"></i> Word Annotation</h4>
	<div class="span11">
	<dl class="dl-horizontal">
		<dt>Polarity</dt>
			<dd>
				<label class="checkbox inline">
			    <input type="checkbox" id="inlineCheckbox1" value="option1"> positive
			    </label>
			    <label class="checkbox inline">
			    <input type="checkbox" id="inlineCheckbox2" value="option2"> negative
			    </label>
			    <label class="checkbox inline">
			    <input type="checkbox" id="inlineCheckbox3" value="option3"> neutral
			    </label>
			</dd>
		<dt>Strength</dt>
			<dd>
				<label class="checkbox inline">
			    <input type="checkbox" id="inlineCheckbox1" value="option1"> weak
			    </label>
			    <label class="checkbox inline">
			    <input type="checkbox" id="inlineCheckbox2" value="option2"> strong
			    </label>
			</dd>
		<dt>Stemmed / Root</dt>
			<dd>
				<label class="checkbox inline">
			    <input type="checkbox" id="inlineCheckbox1" value="option1"> root
			    </label>
			    <label class="checkbox inline">
			    <input type="checkbox" id="inlineCheckbox2" value="option2"> stemmed
			    </label>
			</dd>	
	</dl>
	<br>
	<br>
    </div>


	<h4><i class="icon-list"></i> Concordancer</h4>
	<table class="table table-hover">
        <thead>  
          <tr>  
            <th>Sentences</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td><span class="label label-warning">baka</span> ako</td>  
          </tr>   
          <tr>  
            <td><span class="label label-warning">baka</span> sila</td>  
          </tr>             
          <tr>  
            <td><span class="label label-warning">baka</span> kayo</td>  
          </tr> 
          <tr>  
            <td><span class="label label-warning">baka</span></td>  
          </tr> 

        </tbody>   
    </table>



</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	// Django CSRF framework
	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

	$(document).ready(function() {
	
		var tagUrl = "{% url 'tag_word' %}";
	
		jQuery.each($("span.highlight"), function() {
			$(this).replaceWith('<a href="#" class="highlight" rel="popover" data-original-title="Tag This Word">' + $(this).text() + '</a>');
		});

		$(".highlight").click(function(e) {
			e.preventDefault();
		}).clickover({
			trigger: 'manual',
		}).click(function() {
			var elem = $(this);
			
			var popoverElems = $(document.createElement('div')).append(
				$(document.createElement('h4')).html(elem.text()),
				$(document.createElement('strong')).html('Polarity'),
				$(document.createElement('select')).attr('name', 'feature_id').append(
					$(document.createElement('option')).attr('value', '3').html('Positive'),
					$(document.createElement('option')).attr('value', '4').html('Negative')
				),
				$(document.createElement('strong')).html('Strength'),
				$(document.createElement('select')).attr('name', 'feature_id').append(
					$(document.createElement('option')).attr('value', '1').html('Strong Subjective'),
					$(document.createElement('option')).attr('value', '2').html('Weak Subjective')
				),
				$(document.createElement('input')).attr({type: 'submit', class: 'btn btn-primary btn-tag', value: "Tag Word"}).click(function() {
					$(this).attr('class', 'btn btn-danger');
				})
			);
	
			if (elem.toggleClass('active').hasClass('active')) {
				elem.clickover('show');
				$('.popover-content')
					.empty()
					.append(popoverElems);
			} else {
				popoverElems.detach();
				elem.clickover('hide');
			}
		});
		
	});
</script>
{% endblock %}